{% extends 'application/base.html' %}

{% block content %}
    <h3>Staging Area - Columns </h3>  
    <div class="input-group input-group-lg mb-3">
        <span class="input-group-text" id="input"> Table name </span>
        <input type="text" class="form-control" value="{{tableStagingArea}}">
    </div> 
    {% comment %} <h3>{{tableStagingArea}}</h3> {% endcomment %}
    <table class='table table-striped table-dark'>
        <thead >
            <tr>
                <th scope="col">COLUMN</th>
                <th scope="col">TYPE</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for column in columnsStagingArea %}
            <tr>
                <td>{{column.name}}</td>
                <td>{{column.typeColumn}}</td>
                <td><button class="btn btn-primary" id='column_{{column.id}}' onClick="location.href='{% url 'application:deleteStagingArea' tableStagingArea.pk column.id %}'" >Delete</button></td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='{% url 'application:createColumnStagingArea' tableStagingArea.pk %}'">Add column</button>

    <h3>Datas</h3>

    {% if data %}
        <table class='table table-striped table-dark'>
            {% for row in data %}
            <tr>
                {% for cedule in row %}
                    <td> {{cedule}} </td>  
                {% endfor %}
            </tr>            
            {% endfor %}
        </table>
    {% endif %}

        {% comment %} {% if statementCreateTable %}
        <div>
            <code>
                {{statementCreateTable}}
            </code>
        </div>
        {% endif %}

        {% if statementSelect %}
            <div>
                <code>
                    {{statementSelect}}
                </code>
            </div>
        {% endif %} {% endcomment %}

    <form method='post'>
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Confirm</button>
    </form>

{% endblock content %}