{% extends 'application/base.html' %}

{% block content %}
    <h1>Staging Area</h1>

    {% if tableStagingArea %}
        <h1>{{tableStagingArea}}</h1>
        <table border=1>
            <tr>
                <th>COLUMN</th>
                <th>TYPE</th>
                <th>EXPRESSION</th>
            </tr>
            {% for column in columnsStagingArea %}
            <tr>
                <td>{{column.name}}</td>
                <td>{{column.typeColumn}}</td>
                <td>{{column.expression}}</td>
                <td><button id='column_{{column.id}}' onClick="location.href='{% url 'application:updateStagingArea' tableStagingArea.pk column.id %}'" >Edit</button></td>            
                <td><button id='column_{{column.id}}' onClick="location.href='{% url 'application:deleteStagingArea' tableStagingArea.pk column.id %}'" >Delete</button></td>            
            </tr>
            {% endfor %}
        </table>
        <button type="submit" onclick="location.href='{% url 'application:createColumnStagingArea' tableStagingArea.pk %}'">Add column</button>
    {% endif %}

    <h1>Datas</h1>

    {% if data %}
        <table border=1>
            {% for row in data %}
             <tr>
                {% for cedule in row %}
                    <td> {{cedule}} </td>  
                {% endfor %}
            </tr>            
            {% endfor %}
        </table>
    {% endif %}

    <script>
    </script>
{% endblock content %}