{% extends 'application/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}} mb-2'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    
        <div class='d-flex justify-content-between'>
            <h5 class='titles'>Data warehouse 🧊</h5>  
            <button class='btn btn-primary m-2' onClick="location.href='{% url 'application:datawarehouse-cubes-select-tables' %}'">Create</button>
        </div>
    

    <div class='d-flex justify-content-between'>
        <h5 class='titles'>Cubes 🧊🧊🧊</h5>  
        {% comment %} <button class='btn btn-primary mb-2' onClick="location.href='{% url 'application:datamart-create' %}'">Create</button> {% endcomment %}
    </div>

    <div class='d-flex flex-wrap'>
        {% for cube in cubes %}
            <div class='datamarts-list' onClick="location.href='{% url 'application:datawarehouse-cubes-delete' cube.id %}'">
                {{cube.name}} 🎲
            </div>
        {% endfor %}
    </div>

{% endblock %}