body{
    background-color: #f0efef;
}

.side-bar {
    height: 85vh;
    position: fixed;
    margin: 0px 0 8px 8px;
    width: 230px;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
  
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
  
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }

.content{
    margin: 8px 15px 8px 250px;
}

.titles{
    background: #212529;
    color: white;
    padding: 8px;
    display: inline-block;
    border-radius: 5px;
}

.center{
    align-items: center;
}

.text-edit{
    width: 100%;
    background: #282a36;
    color:#e9e9e4;
    border-radius: 5px;
    margin-bottom: 10px;
}

.datamarts-list{
    cursor: pointer;
    margin: 3px;
    padding: 30px 30px 20px 30px;
    background-color:#282a36;
    color:#e9e9e4;
    border-bottom: 10px solid #282a36;
    border-radius: 5px;
}

.datamarts-list:hover{
    margin: 3px;
    padding: 30px 30px 20px 30px;
    background-color:#282a36;
    color:#e9e9e4;
    border-bottom: 10px solid tomato;
    border-radius: 5px;
}

.date-datamart{
    color: tomato;
}

.import-options{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.import-csv{
    color: white;
    background: rgb(67, 157, 67);
}

.import-csv:hover{
    color: white;
    background: green;
}

.import-dump{
    color: white;
    background: rgb(64, 137, 192);
}

.import-dump:hover{
    color: white;
    background: rgb(0, 133, 221);
}

.import-sql{
    color: white;
    background: rgb(250, 141, 122);
}

.import-sql:hover{
    color: white;
    background: tomato;
}

.card-tables-damart{
    display: inline-flex;
    flex-direction: column;
}

.card-table-datamart-title{
    padding: 10px;
    background: #282a36;
    color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
}

.card-table-datamart-title:hover{
    padding: 10px;
    background: #212529;
    color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

.card-table-datamart-body{
    padding: 2px;
    font-size: 14px;
    background: tomato;
    color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
}

.container-separator{
    padding: 5px;
    background: whitesmoke;
    border: rgb(221, 221, 221) solid 2px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fact-table {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #d00000;
    color: white;
}

.fact-table-container{
    margin: 5px;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #d00000;
    color: white;
    width: 50%;
}

.fact-table-container h5{
    text-align: center;
}

.dimension-table-container{
    margin: 5px;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0096c7;
    color: white;
    width: 50%;
}

.dimension-table-container h5 {
    text-align: center;
}

.forming-cube{
    display: flex;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #212529;
    color: white;
}

.dimension-table {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0096c7;
    color: white;
}

.column-division{
    width: 40%;
}

.padding{
    padding: 5px;
}

.information-create-table{
    margin: 10px 0px;
    padding: 10px;
    background-color: #0096c7;
    color: white;
    border-radius: 10px;
}

.information-create-table{
    margin: 10px 0px;
    padding: 10px;
    background-color: #0096c7;
    color: white;
    border-radius: 10px;
}

.division-tables{
    display: flex;
    /* flex-direction: column; */
}

.table-container-import{
    background-color: #ffea00;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.dimension-container-detail{
    margin: 10px 0px;
    padding: 10px;
    background-color: #0096c7;
    color: white;
    border-radius: 10px;
}

.fact-container-detail{
    margin: 10px 0px;
    padding: 10px;
    background-color: #d00000;
    color: white;
    border-radius: 10px;
}

.table-overflow{
    overflow: auto;
}

.table-overflow td,th {
    border: whitesmoke solid 1px;
}