{% extends 'application/base.html' %}

{% block content %}
    <script>
        document.onkeydown = function (t) {
            if(t.which == 9){
                return false;
            }            
        }
    </script>
    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}} mb-2'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <h5 class='titles'>Extract data from Datamart ⛏</h5>  
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" id="input">Table name</span>
            <input type="text" class="form-control" name="table-name" />
        </div> 

        <h5>Select table 🔍 </h5>
        <div>
            <textarea name="statementSelect" class="text-edit" rows=10 data-toggle="tab">{{statementSelect}}</textarea>
        </div>

        <button type="submit" class="btn btn-success">Continue</button>
        <button type="reset" class="btn btn-primary">Clear</button>
        <button type="reset" class="btn btn-danger" onClick="location.href='{% url 'application:home' %}'">Cancel</button>
    </form>    

{% endblock content %}