{% block content %}
    <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
        <input type="file" name="document" accept>
        <button type="submit"> Carregar arquivo </button>
    {% comment %} {{form.as_p}}
        <button type='submit' class='btn btn-default'> Save </button>
    {% endcomment %}
    </form>

    {% if mensagem %}
        <h1>{{mensagem}}</h1>
    {% endif %} 

{% endblock  %}



{% comment %} 
{% if messages %}
    {% for message in messages %}
        <p>{{message}}<p>
    {% endfor %}
{% endif %} {% endcomment %}

<a href="http://localhost:8000/application"> Voltar </a>
