{% extends 'application/base.html' %}

{% block content %}
    <h5 class='titles'>Staging Area - Query</h5>  

    <form action="" method="post">
        {% csrf_token %}
        <h5>Create table 📄</h5>
        <div>
            <p>This create, </p>
        </div>
        <div>
            <textarea name="statementCreateTable" class="text-edit" rows=7 >{{statementCreateTable}}</textarea>
        </div>
        <h5>Select table 🔍<i class='fas fa-table'></i> </h5>
        <div>
            <textarea name="statementSelect" class="text-edit " rows=10 data-toggle="tab">{{statementSelect}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Continue</button>
        <button type="reset" class="btn btn-primary">Clear</button>
        <button type="reset" class="btn btn-danger" onClick="location.href='{% url 'application:home' %}'">Cancel</button>
    </form>    
{% endblock content %}
