{% extends 'application/base.html' %}

{% block content %}
    <h1>CSV</h1>
    {% if inputFileForm %}
        <form method="POST" enctype="multipart/form-data">
            {{inputFileForm.as_p}}
            {% csrf_token %}
            <button type="submit"> Carregar arquivo </button>
        </form>
    {% endif %}

    {% if message %}
        <h1>{{message}}</h1>
    {% endif %} 

    {% if columns %}
        <h3>Colunas</h3>
        {% for column in columns %}
            <p>{{column}}</p>
        {% endfor %}
    {% endif %}

    {% if typeColumns %}
        <h3>Tipos</h3>
        {% for typeColumn in typeColumns %}
           <p>{{typeColumn}}</p>
        {% endfor %}
    {% endif %}

    <a href="http://localhost:8000/application"> Voltar </a>

{% endblock content %}

