{% extends 'application/base.html' %}

{% block fileCsvInput %}
    <h1>CSV</h1>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="file" name="document" accept>
        <button type="submit"> Carregar arquivo </button>
    </form>

    {% if message %}
        <h1>{{message}}</h1>
    {% endif %} 

    {% if columns %}
        <h3>Colunas</h3>
        {% for column in columns %}
            <p>{{column}}</p>
        {% endfor %}
    {% endif %}

    {% if typeColumns %}
        <h3>Tipos</h3>
        {% for typeColumn in typeColumns %}
           <p>{{typeColumn}}</p>
        {% endfor %}
    {% endif %}

    <a href="http://localhost:8000/application"> Voltar </a>

{% endblock fileCsvInput %}

