{% extends 'application/base.html' %}

{% block content %}
    <div>
        <div>
           <h5 class='titles'>Select datamart to input data 🎲</h5>  
        </div>
        <form  method="post">
        <h5>Data mart 🎲</h5>
        <select class='form-select' arial-label='Select data mart'>
            <option selected>Open this select menu</option>
            
        </select>
        <h5>Table ✅</h5>
        <select class='form-select' arial-label='Select data mart'>
            <option selected>Open this select menu</option>

        </select>
        </form>            
    </div>
{% endblock content %}
