{% extends 'application/base.html' %}

{% block content %}
    <h1>Staging Area</h1>

    {% if nameTable %}
        <h1>TABLE</h1>
        <table border=1>
            {% comment %} <caption> {{nameTable}} </caption> {% endcomment %}
            <tr>
                <th>COLUMN</th>
                <th>TYPE</th>
                <th>EXPRESSION</th>
            </tr>
            {% for column in columnsStagingArea %}
            <tr>
                <td>{{column.name}}</td>
                <td>{{column.typeColumn}}</td>
                <td>{{column.expression}}</td>
                <td><button id='column_{{column.id}}' onClick="location.href='{% url 'application:add_expression' column.table_id column.id %}'">edit</button></td>
                {% comment %} <td><button id='column_{{column.id}}' onClick="location.href='{% url 'application:add_expression' 1 1 %}'">edit</button></td> {% endcomment %}
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Add column</button>
    {% endif %}

    <h1>Datas</h1>

    {% if data %}
        <table border=1>
            {% comment %} <caption>{{nameTable}}</caption> {% endcomment %}
            {% comment %} <tr>
                {% for column in listColumns %}
                    <th> {{column}} </th>
                {% endfor %}
            </tr> {% endcomment %}
            {% for row in data %}
             <tr>
                {% for cedule in row %}
                    <td> {{cedule}} </td>  
                {% endfor %}
            </tr>            
            {% endfor %}
        </table>
    {% endif %}

    <script>

    
    </script>
{% endblock content %}