{% extends 'application/base.html' %}

{% block content %}
    <div class='d-flex justify-content-between'>
        <h5 class='titles'>Data marts 🔄</h5>  
        <button class='btn btn-primary mb-2' onClick="location.href='{% url 'application:datamart-create' %}'">Create</button>
        
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}} mb-2'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <div class='d-flex flex-wrap'>
        {% for datamart in datamarts %}
            <div class='datamarts-list' onClick="location.href='{% url 'application:datamart-detail' datamart.id %}'">
                {{datamart.name}} 🎲
            </div>
        {% endfor %}
    </div>

{% endblock %}