{% extends 'application/base.html' %}

{% block content %}
    <h5 class='titles'>Data mart - detail 🔄</h5>  
    <form method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" id="input">Datamart name</span>
            <input type="text" class="form-control" value="{{datamart.name}}" name="datamart-name">
        </div> 
        <div class='date-datamart mb-3'>
            Created: <input type="datetime" value="{{datamart.created}}" readonly="true"> 📅
            Last updated: <input type="datetime" value="{{datamart.updated}}" readonly="true"> ✅
        </div>

        <h3> Connetion 🌐</h3>

        {% if datamart.localdatabase %}
            <div class="input-group input-group-lg mb-3 ">
                <span class="input-group-text" >Database name</span>
                <input type="text" class="form-control" value="{{datamart.database}}" name="datamart-databaseName">
            </div>
        {% else %}
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Database name</span>
            <input type="text" class="form-control" value="{{datamart.database}}" name="datamart-databaseName" readonly="true">
        </div>
        {% endif %}
       
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Host</span>
            <input type="text" class="form-control" value="{{datamart.host}}" name="datamart-host">
        </div>
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Port</span>
            <input type="text" class="form-control" value="{{datamart.port}}" name="datamart-port">
        </div>
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Username</span>
            <input type="text" class="form-control" value="{{datamart.user}}" name="datamart-username">
        </div>
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Password</span>
            <input class="form-control" value="{{datamart.password}}" name="datamart-password" type='password'/>
        </div>
         <div>
            <button type="submit" class="btn btn-success mt-3"> Save </button>
            <button type="reset" class="btn btn-danger mt-3" onClick="location.href='{% url 'application:datamart-list' %}'">
                Cancel 
            </button>
            <button type="reset" class="btn btn-danger mt-3" onClick="location.href='{% url 'application:datamart-delete' datamart.id %}'">
                Delete 
            </button>
        </div>
    </form>
{% endblock %}