{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Data warehouse</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="flex-shrink-0 p-3 bg-white side-bar border rounded">
        <ul class="list-unstyled">
            <li class="mb-1">
                <button class='btn btn-toggle align-items-center rounded collapsed'  data-bs-toggle="collapse" data-bs-target="#input-side-bar" aria-expanded="true">
                    Import
                </button>
                <div class='collapse show' id='input-side-bar'>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class='link-dark rounded'><a href="{% url 'application:csv_input' %}"> Csv </a></li>
                        <li class='link-dark rounded'><a href="{% url 'application:dump_input' %}"> Dump </a></li>
                        <li class='link-dark rounded'><a href="{% url 'application:query_input' %}"> Query </a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class='btn btn-toggle align-items-center rounded collapsed' data-bs-toggle="collapse" data-bs-target="#datamart-side-bar" aria-expanded="true">
                    Data mart
                </button>
                <div class='collapse show' id='datamart-side-bar'>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class='link-dark rounded'><a href="{% url 'application:datamart-list' %}"> Data marts </a></li>
                        <li class='link-dark rounded'><a href="#"> Tables </a></li>
                        <li class='link-dark rounded'><a href="#"> Connection </a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <div class='flex-shrink-0 p-3 bg-white content border rounded'>
        {% block content %}
        {% endblock content %}
    </div>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/teste.js' %}"></script> {% endcomment %}
</body>
</html>