{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data warehouse</title>
</head>
<body>
    <div id='sidebar'>
        <h2>Data warehouse</h2>
        <a href="http://localhost:8000/application/teste/"> importar</a>
    </div>
    <div id='center_data'>
        <div id='content'>
            {% block datamart %}
            {% endblock %} 
        </div>  
    </div>
</body>
</html>