{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data warehouse</title>
</head>
<body>
    <div>
        <ul>
            <li>IMPORT</li>
            <ul>
                <li><a href="http://localhost:8000/application/input/csv"> CSV FILE </a></li>
                <li><a href="http://localhost:8000/application/input/dump"> DUMP FILE </a></li>
                <li><a href="http://localhost:8000/application/input/query"> QUERY STATEMENT </a></li>
            </ul>
        </ul>
    </div>

    {% block home %}
    {% endblock home %}

    {% block fileCsvInput %}
    {% endblock fileCsvInput %}

    {% block fileDumpInput %}
    {% endblock fileDumpInput %}

    {% block queryInput %}
    {% endblock queryInput %}

    {% block datamart %}
    {% endblock datamart%} 
</body>
</html>