{% extends 'application/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{message.tags}} mb-2'>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <h5 class='titles'>Extract Connection - Create 🌐</h5>  
    <form method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" id="input">Connection name</span>
            <input type="text" class="form-control" name="name">
        </div> 
        <h3> Connetion 🌐</h3>
        <div class='mb-2 form-check form-switch'>
            <input class="form-check-input" type="checkbox" id="checkbox-server-connection" name="server-connection" onClick="connectionDisplay()">
            <label class="form-check-label" for="checkbox-server-connection"> User server connection </label>
        </div>       

        <div class="input-group input-group-lg mb-3 ">
            <span class="input-group-text" >Database name</span>
            <input type="text" class="form-control" name="databaseName">
        </div>
        <div id='connection-datamart'>
            <div class="input-group input-group-lg mb-3 ">
                <span class="input-group-text" >Host</span>
                <input type="text" class="form-control" name="host">
            </div>
            <div class="input-group input-group-lg mb-3 ">
                <span class="input-group-text" >Port</span>
                <input type="number" class="form-control" name="port">
            </div>
            <div class="input-group input-group-lg mb-3 ">
                <span class="input-group-text" >Username</span>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-text" >Password</span>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-3"> Create </button>
            <button type="reset" class="btn btn-danger mt-3" onClick="location.href='{% url 'application:extract-connections' %}'">Cancel </button>
        </div>
    </form>

    <script>
        function connectionDisplay(){
            divWithConnection = document.getElementById('connection-datamart');
            checkBoxDatamart = document.getElementById('checkbox-server-connection');
            if (checkBoxDatamart.checked)
                hide(divWithConnection);
            else
                unhide(divWithConnection);
        }

        function hide(element){
            element.style.display = 'none'
        }

        function unhide(element){
            element.style.display = ''
        }
    </script>
{% endblock %}